<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="col-sm-6">

    <%for(var i=0;i < data.length;i++){%>

      <tr>
        <td>
          <%= data[i].email %>
          <hr>
        </td>
      </tr>
      <%}%>
    </div>
  </body>
</html>
